<div class="w-2/3">
  <% @tasks.each do |task| %>
    <div class="flex justify-between border-b-2 border-neutral">
      <div>
        <%= task.title %>
      </div>
      <div class="flex grid grid-cols-3 my-2 text-sm divide-x divide-neutral">
        <div class="flex justify-center"><%= link_to "VIEW", category_task_path(category_id: task.category_id, id: task.id) %></div>
        <div class="flex justify-center"><%= link_to "EDIT", edit_category_task_path(category_id: task.category_id, id: task.id) %></div>
        <div class="flex justify-center pl-2"><%= link_to "DELETE", category_task_path(category_id: task.category_id, id: task.id), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %></div>
      </div> 
    </div>
  <% end %>
</div>
