<div class="flex flex-col h-full">
    <div>
        <div class="pt-4 pl-8 text-lg font-bold">
            JOURNAL
        </div>    
        <div class="flex flex-row justify-center mt-3">
            <div class="flex items-center avatar">
                <div class="w-16 h-16 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                    <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
                </div>
            </div>
            <div class="ml-6">
                <div class="text-base font-bold"><%= current_user.email %></div>
                <div class="py-1 text-xs font-bold">User</div>
                <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "link link-secondary text-xs" %>
                
            </div>
        </div>
        <div class="flex justify-center w-full mt-16 mb-3">
            <div class="flex items-center justify-center">
                <%= link_to "+ Add Category", new_category_path, class: "text-sm text-purple font-bold btn btn-outline btn-primary w-56" %>
            </div>
        </div>
        <div class="flex justify-center w-full">
            <div class="flex items-center justify-center">
                <%= link_to "See Categories", categories_path, class: "text-sm text-purple font-bold btn btn-outline btn-primary w-56"  %>
            </div>
        </div>
    </div>
</div>
